// Colours.

$grey-dark: #999999 !default;
$light-grey: #e5e3de !default;


// Layout.

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Gutter value for top widget section.
$gutter-top: 5px !default;


// Elements.

$border-radius: 4px !default;

$action-size-normal: 26px !default;
$action-size-big: 36px !default;
$action-icon-size: 24px !default;
$action-hover-bg: #f9f8f6 !default;
$action-border: #a6a6a6 !default;
$action-border-radius: 4px !default;
$action-hover-box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125) !default;

$info-size: 30px !default;
$info-icon-size: 24px !default;

$badge-padding-y: .15em !default;
$badge-padding-x: .3em !default;
$badge-color: #787878 !default;
$content-summary-color: #666666 !default;
$media-file-hover-bg: #f7fcff !default;
