//
// @file
// Inline media form widget CSS.
//

@import "variables";

.inline-media-form {
  // Inline Media Form state information icons.
  &-icon {
    display: inline-block;
    height: $info-size;
    width: $info-size;
    background: no-repeat center;
    background-size: $info-icon-size $info-icon-size;
    vertical-align: middle;

    $icons: unpublished edit-disabled changed;

    @each $icon in $icons {
      &-#{$icon} {
        background-image: url('../../images/icons/icon-#{$icon}.svg');
      }
    }
  }

  &-icon-changed {
    // Make it orange!
    filter: invert(1) brightness(50%) sepia(100%) saturate(500%);
  }

  &-badge {
    display: inline-block;
    padding: $badge-padding-y $badge-padding-x;
    background: $badge-color;
    border-radius: $border-radius;
    color: #fff;
    cursor: default;
    font-size: 90%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    margin: 3px 0;

    // Empty badges collapse automatically
    &:empty {
      display: none;
    }
  }
}

// We are using .js prefix here mainly because we want to apply this style rules
// only for JS version of the element.
.js {
  .inline-media-form-description {
    .inline-media-form-content-wrapper,
    .inline-media-form-plugin-wrapper {
      position: relative;
      overflow: hidden;
      word-break: break-all;
      line-height: 1.538em;
      text-overflow: ellipsis;
    }

    .summary-plugin-label::after {
      content: ": ";
    }

    .summary-content {
      color: $content-summary-color;
    }
  }

  .inline-media-file-summary--changed {
    .inline-media-form-content-wrapper::before {
      content: '*';
      display: inline;
    }

    &,
    .summary-content {
      font-weight: bold;
    }
  }

  // Content tab is active.
  .content-active {
    // Hide content summary.
    .inline-media-form-expanded-description .inline-media-form-content-wrapper {
      display: none;
    }
  }
}

// Inline Media Form button icon support for small screens.
@media (max-width: map-get($grid-breakpoints, 'md')) {
  .button.inline-media-form-icon-button {
    padding: 0;
    width: $action-size-big !important;
    height: $action-size-big;
    // We need important flag here to easily override many specific rules from
    // seven buttons.css.
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: $action-icon-size $action-icon-size;
    border-radius: $action-border-radius;
    text-indent: -9999em;

    $icons: collapse edit;
    @each $icon in $icons {
      &-#{$icon},
      &-#{$icon}:active,
      &-#{$icon}:hover,
      &-#{$icon}:focus {
        background-image: url('../../images/icons/icon-#{$icon}.svg');
      }

      &-#{$icon}:disabled,
      &-#{$icon}:disabled:active {
        background-image: url('../../images/icons/icon-#{$icon}-disabled.svg');
      }
    }
  }
}

.inline-media-file-bullet {
  text-align: center;

  &::after {
    padding: 0 10px;
    color: #777;
    font-size: 0.75em;
    line-height: 3.5em;
    content: "\25cf";
  }
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .inline-media-file-bullet {
    &::after {
      line-height: 2.5em;
    }
  }
}

// We are using .js prefix here mainly because we want to apply this style rules
// only for JS version of a widget.
.js {
  .field--widget-inline-media-form {
    th .inline-media-form-actions {
      float: right;
      // Table th padding is 12px but for some weird reason here we need to do
      // -11px to return it back.
      margin-right: -11px;
    }

    // Fix alignment of form-actions.
    .form-actions {
      align-items: center;

      // Add spacing to "to" keyword
      .placeholder {
        margin-left: .25em;
      }
    }

    .field-multiple-table {
      margin-bottom: 10px;
    }

    td { // stylelint-disable-line selector-no-type
      padding: 10px 0;
    }

    .field-multiple-drag {
      vertical-align: top;
    }

    .draggable .tabledrag-handle {
      min-width: 50px;
      margin-left: 0;

      // Fix active focus.
      &:focus {
        &::before {
          margin-left: .1em;
          margin-right: .1em;
        }
      }
    }

    .tabledrag-handle .handle {
      height: 22px;
    }

    .delta-order {
      padding-right: 10px;
      vertical-align: top;
      text-align: right;
    }

    .media-widget--has-open-files .field-multiple-drag {
      // Line-up the left side of the inline edit form when grips are hidden.
      width: 0.8rem;
    }

    .media-widget--has-open-files .field-multiple-drag .tabledrag-handle {
      // Hide draggable grips from flow when any media files are being edited.
      display: none;
    }
  }

  .inline-media-file-top {
    display: grid;
    grid-template-columns: 100px auto 1fr auto;
    grid-template-rows: auto auto;
    grid-gap: 0 $gutter-top;
    align-items: start;

    .inline-media-file-type {
      grid-column: 1 / 2;
      // PostCSS autoprefixer does not support -ms-grid-column and some other
      // attributes that we need. This support will not be improved so we need
      // to do it manually for IE.
      -ms-grid-column: 1;
      grid-row: 1 / span 1;
    }

    .inline-media-file-info {
      grid-column: 2 / 3;
      -ms-grid-column: 2;
      grid-row: 1 / span 1;
    }

    .inline-media-file-summary {
      grid-column: 1 / 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-row: 2 / span 1;
      overflow: hidden;

      @media (min-width: map-get($grid-breakpoints, 'sm')) {
        grid-column: 3 / 4;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-row: 1 / span 2;
      }
    }

    .inline-media-form-actions {
      grid-column: 3 / 5;
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
      grid-row: 1 / span 1;
      justify-self: flex-end;
      -ms-grid-column-align: end;

      @media (min-width: map-get($grid-breakpoints, 'sm')) {
        grid-column: 4 / 5;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
      }
    }
  }

  .inline-media-form-subform {
    margin-top: 5px;
  }

  .inline-media-form-description {
    @at-root .draggable:hover .inline-media-form-description {
      &::after {
        background: linear-gradient(to right, rgba(247, 252, 255, 0) 0%, #f7fcff 100%);
      }
    }

    @at-root .drag-previous .inline-media-form-description {
      &::after {
        background: linear-gradient(to right, rgba(255, 255, 221, 0) 0%, #ffd 100%);
      }
    }

    @at-root tr:hover .inline-media-form-description {
      &::after {
        background: linear-gradient(to right, rgba(255, 255, 221, 0) 0%, #f7fcff 100%);
      }
    }
  }

  .inline-media-file-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.inline-media-file--view-mode--preview {
  padding-right: 1em;
}

.first-inline-media-file {
  transition: background-color .3s linear;
}

.inline-media-file-hover {
  background-color: $media-file-hover-bg;
}

.inline-media-form-toolbar--bulk-rename {
  // Visually separate from the actions at the top.
  padding-top: 1rem;

  /**
   * Prevent text in the "Name" box of the rename toolbar from being bolded.
   */
  .form-text {
    font-weight: initial;
  }

  /**
   * Align left side of buttons with the rest of the text in the toolbar, with
   * small space in between.
   */
  .button {
    margin: 0 0.5rem 0 0;
  }
}

/**
 * Make the "ORDER" table header as narrow as possible so that there is no empty
 * space to the right of the text.
 */
.media-widget .tabledrag-hide {
  width: 1px;
  white-space: nowrap;
}
