{#
/**
 * @file
 * Default theme implementation for a media file summary.
 *
 * Available variables:
 * - expanded: Whether the summary is expanded or not.
 * - content: Array of content summary items.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'inline-media-form-description',
  expanded ? 'inline-media-form-expanded-description' : 'inline-media-form-collapsed-description'
] %}
{% spaceless %}
  {% if content is not empty or behaviors is not empty %}
    <div{{ attributes.addClass(classes) }}>
      {% if content is not empty %}
        <div class="inline-media-form-content-wrapper">
          {%- for content_item in content -%}
            <span class="summary-content">{{ content_item }}</span>
            {%- if not loop.last -%}, {% endif %}
          {%- endfor -%}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endspaceless %}
