{#
/**
 * @file
 * Default theme implementation for an Inline Media Form actions component.
 *
 * Available variables:
 * - actions - default actions, always visible and not in dropdown.
 * - dropdown_actions - actions for dropdown sub-component.
 * - toolbar - sub-component containing an optional toolbar for actions like bulk rename of media files.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<div class="inline-media-form-actions">
  {{ actions }}
  {# We are still using access attribute on some places to disable dropdown
     actions and that is why we will first render dropdown_actions and then
     render dropdown sub-component, if needed. #}
  {% set dropdown_actions_output = render_var(dropdown_actions) %}
  {% if dropdown_actions_output %}
    <div class="inline-media-form-dropdown">
      <button class="inline-media-form-dropdown-toggle"><span class="visually-hidden">{% trans %}Toggle actions{% endtrans %}</span></button>
      <div class="inline-media-form-dropdown-actions">
        {{ dropdown_actions_output }}
      </div>
    </div>
  {% endif %}
</div>
{% if toolbar %}
  <div class="inline-media-form-actions-toolbar">
    {{ toolbar }}
  </div>
{% endif %}
