{#
/**
 * @file
 * Default theme implementation for a media file info icon.
 *
 * Available variables:
 * - icon: Name of the icon to use.
 * - message: Information message.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<span class="inline-media-form-icon inline-media-form-icon-{{ icon }}" title="{{ message }}">
  <span class="inline-media-form-icon__message visually-hidden">{{ message }}</span>
</span>
